<div>
  <form [formGroup]="connectGameForm" (ngSubmit)="onGameConnect()">
    <label for="gameId">Enter game id : </label>
    <input name="gameid" formControlName="gameId"/>
    <button type="submit">Purchase</button>
  </form>
  <form [formGroup]="createGameForm" (ngSubmit)="onGameCreate()">
    <button type="submit">Purchase</button>
  </form>
  <p>{{ gameId }}</p>
</div>

<div class="joueur1">{{ player1PionCount }}</div>
<div class="joueur2">{{ player2PionCount }}</div>

<table>
  <tr *ngFor="let row of board; let rowIndex = index">
    <td class="cell"*ngFor="let pion of row; let colIndex = index"
    [ngStyle]="{
      'background-color': isHighlighted(rowIndex, colIndex) ? selectedPionColor : pion.color,
      'border': isHighlightedJump(rowIndex, colIndex) ? '1px solid ' + selectedPionColor : '1px solid black',
    }"
        (click)="handleCellClick(rowIndex, colIndex)">
    </td>
  </tr>
</table>